<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update page</title>
    </head>
    <body>
        <form action="/addmin/updateProduct" method="POST">
            <input type="text" placeholder="Enter name" name="name" />
            <br /><br />
            <input type="text" placeholder="Enter desc" name="desc" />
            <br /><br />
            <input type="text" placeholder="Enter image" name="image" />
            <br /><br />
            <input type="text" placeholder="Enter idVideo" name="idVideo" />
            <br /><br />
            <button>Update product</button>
        </form>
    </body>
</html>